html{
    scroll-behavior: smooth;
}
body{
    background-image: url('imagen/fondo.jpg');
}
.pancho{
background-color: rgb(251, 215, 215);
width: 85%;
margin: 0 auto;
border-radius: 20px;
padding: 20px;
}